color{
    color: #e74908;
    color: #fdd508;
    color: #b4141a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  img {
    width: 100%;
  }
  body {
    background: linear-gradient(290deg, #e74908 50%, #b4141a 100%);
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    color: #ffffff;
  }
  html {
    scroll-behavior: smooth;
  }
  .header-row {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 20px 20px;
    align-items: center;
    margin: 0 auto;
  }
  .banner-wrap {
    padding: 60px 0 60px;
  }
  .cat-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .font-h1 {
    font-size: 52px;
    font-weight: 700;
  }
  .font-h2 {
    font-size: 42px;
    font-weight: 700;
  }
  ul.navigation {
    list-style: none;
    display: flex;
    justify-content: end;
    column-gap: 10px;
    align-items: center;
  }
  p {
    font-size: 16px;
    line-height: 1.4;
  }
  .cat-btn {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
   }
   
   .cat-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b4141a;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cat-btn span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #ffffff;
   }
   
   .cat-btn svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #000;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cat-btn:hover:before {
    width: 100%;
    background: #cca349;
   }
   
   .cat-btn:hover svg {
    transform: translateX(0);
   }
   
   .cat-btn:active {
    transform: scale(0.95);
   }
   a.head-logo {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 1px;
  }
  .bannerlogo {
    max-width: 100px;
    margin: 20px auto;
  }
  
  .banner-row {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
  }
  
  .bannerlogo img {
    filter: drop-shadow(0px 0px 15px #cca349);
  }
  .banner-row p {
    max-width: 480px;
    margin: 20px auto 40px;
  }
  .banner-row .cat-btn {
    margin: 10px;
  }
  .footer-row {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-links a {
    color: rgb(0 0 0 / 80%);
    text-decoration: none;
    margin: 0 15px;
  }
  
  .footer-links a:hover {
    color: #000;
  }
  .logo-slider-item img {
    filter: grayscale(1);
    max-width: 120px;
    height: 40px;
    object-fit: contain;
    margin: 20px;
  }
  .logo-slider-main {
    padding: 60px 0 60px;
  }
  .logo-slider-row {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
  }
  .logo-slider:before {
    background: linear-gradient(90deg, #f5eddb, transparent);
    content: "";
    width: 10%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
  }
  .logo-slider:after {
    background: linear-gradient(270deg, #f5eddb, transparent);
    content: "";
    width: 20%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
  }
  
   a.telegram {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 512' fill='%23000000'%3E%3Cpath d='M248,8C111.033,8,0,119.033,0,256S111.033,504,248,504,496,392.967,496,256,384.967,8,248,8ZM362.952,176.66c-3.732,39.215-19.881,134.378-28.1,178.3-3.476,18.584-10.322,24.816-16.948,25.425-14.4,1.326-25.338-9.517-39.287-18.661-21.827-14.308-34.158-23.215-55.346-37.177-24.485-16.135-8.612-25,5.342-39.5,3.652-3.793,67.107-61.51,68.335-66.746.153-.655.3-3.1-1.154-4.384s-3.59-.849-5.135-.5q-3.283.746-104.608,69.142-14.845,10.194-26.894,9.934c-8.855-.191-25.888-5.006-38.551-9.123-15.531-5.048-27.875-7.717-26.8-16.291q.84-6.7,18.45-13.7,108.446-47.248,144.628-62.3c68.872-28.647,83.183-33.623,92.511-33.789,2.052-.034,6.639.474,9.61,2.885a10.452,10.452,0,0,1,3.53,6.716A43.765,43.765,0,0,1,362.952,176.66Z'/%3E%3C/svg%3E");
  }
  
   a.twitter {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.7124 10.6218L20.4133 3H18.8255L13.0071 9.61788L8.35992 3H3L10.0274 13.0074L3 21H4.58799L10.7324 14.0113L15.6401 21H21L13.7121 10.6218H13.7124ZM11.5375 13.0956L10.8255 12.0991L5.16016 4.16971H7.59922L12.1712 10.5689L12.8832 11.5655L18.8262 19.8835H16.3871L11.5375 13.096V13.0956Z' fill='%23000000'/%3E%3C/svg%3E")
  }
  
  a.uniswap {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 168.3 193.8' style='enable-background:new 0 0 168.3 193.8;' xml:space='preserve'%3E%3Cpath class='st0' d='M66,44.1c-2.1-0.3-2.2-0.4-1.2-0.5c1.9-0.3,6.3,0.1,9.4,0.8c7.2,1.7,13.7,6.1,20.6,13.8l1.8,2.1l2.6-0.4 c11.1-1.8,22.5-0.4,32,4c2.6,1.2,6.7,3.6,7.2,4.2c0.2,0.2,0.5,1.5,0.7,2.8c0.7,4.7,0.4,8.2-1.1,10.9c-0.8,1.5-0.8,1.9-0.3,3.2 c0.4,1,1.6,1.7,2.7,1.7c2.4,0,4.9-3.8,6.1-9.1l0.5-2.1l0.9,1c5.1,5.7,9.1,13.6,9.7,19.2l0.2,1.5l-0.9-1.3c-1.5-2.3-2.9-3.8-4.8-5.1 c-3.4-2.3-7-3-16.5-3.5c-8.6-0.5-13.5-1.2-18.3-2.8c-8.2-2.7-12.4-6.2-22.1-19.1c-4.3-5.7-7-8.8-9.7-11.4 C79.6,48.3,73.7,45.3,66,44.1z'/%3E%3Cpath class='st0' d='M140.5,56.8c0.2-3.8,0.7-6.3,1.8-8.6c0.4-0.9,0.8-1.7,0.9-1.7c0.1,0-0.1,0.7-0.4,1.5c-0.8,2.2-0.9,5.3-0.4,8.8 c0.7,4.5,1,5.1,5.8,10c2.2,2.3,4.8,5.2,5.8,6.4l1.7,2.2l-1.7-1.6c-2.1-2-6.9-5.8-8-6.3c-0.7-0.4-0.8-0.4-1.3,0.1 c-0.4,0.4-0.5,1-0.5,3.9c-0.1,4.5-0.7,7.3-2.2,10.2c-0.8,1.5-0.9,1.2-0.2-0.5c0.5-1.3,0.6-1.9,0.6-6.2c0-8.7-1-10.8-7.1-14.3 c-1.5-0.9-4.1-2.2-5.6-2.9c-1.6-0.7-2.8-1.3-2.7-1.3c0.2-0.2,6.1,1.5,8.4,2.5c3.5,1.4,4.1,1.5,4.5,1.4 C140.2,60.1,140.4,59.3,140.5,56.8z'/%3E%3Cpath class='st0' d='M70.1,71.7c-4.2-5.8-6.9-14.8-6.3-21.5l0.2-2.1l1,0.2c1.8,0.3,4.9,1.5,6.4,2.4c4,2.4,5.8,5.7,7.5,13.9 c0.5,2.4,1.2,5.2,1.5,6.1c0.5,1.5,2.4,5,4,7.2c1.1,1.6,0.4,2.4-2.1,2.2C78.5,79.7,73.4,76.2,70.1,71.7z'/%3E%3Cpath class='st0' d='M135.4,115.2c-19.8-8-26.8-14.9-26.8-26.6c0-1.7,0.1-3.1,0.1-3.1c0.1,0,0.8,0.6,1.7,1.3c4,3.2,8.5,4.6,21,6.4 c7.3,1.1,11.5,1.9,15.3,3.2c12.1,4,19.6,12.2,21.4,23.3c0.5,3.2,0.2,9.3-0.6,12.5c-0.7,2.5-2.7,7.1-3.2,7.2c-0.1,0-0.3-0.5-0.3-1.3 c-0.2-4.2-2.3-8.2-5.8-11.3C154,123.2,148.6,120.5,135.4,115.2z'/%3E%3Cpath class='st0' d='M121.4,118.5c-0.2-1.5-0.7-3.4-1-4.2l-0.5-1.5l0.9,1.1c1.3,1.5,2.3,3.3,3.2,5.8c0.7,1.9,0.7,2.5,0.7,5.6 c0,3-0.1,3.7-0.7,5.4c-1,2.7-2.2,4.6-4.2,6.7c-3.6,3.7-8.3,5.7-15,6.6c-1.2,0.1-4.6,0.4-7.6,0.6c-7.5,0.4-12.5,1.2-17,2.8 c-0.6,0.2-1.2,0.4-1.3,0.3c-0.2-0.2,2.9-2,5.4-3.2c3.5-1.7,7.1-2.6,15-4c3.9-0.6,7.9-1.4,8.9-1.8C118.1,135.6,123,127.9,121.4,118.5 z'/%3E%3Cpath class='st0' d='M130.5,134.6c-2.6-5.7-3.2-11.1-1.8-16.2c0.2-0.5,0.4-1,0.6-1c0.2,0,0.8,0.3,1.4,0.7c1.2,0.8,3.7,2.2,10.1,5.7 c8.1,4.4,12.7,7.8,15.9,11.7c2.8,3.4,4.5,7.3,5.3,12.1c0.5,2.7,0.2,9.2-0.5,11.9c-2.2,8.5-7.2,15.3-14.5,19.2c-1.1,0.6-2,1-2.1,1 c-0.1,0,0.3-1,0.9-2.2c2.4-5.1,2.7-10,0.9-15.5c-1.1-3.4-3.4-7.5-8-14.4C133.2,139.6,131.9,137.5,130.5,134.6z'/%3E%3Cpath class='st0' d='M56,165.2c7.4-6.2,16.5-10.6,24.9-12c3.6-0.6,9.6-0.4,12.9,0.5c5.3,1.4,10.1,4.4,12.6,8.1 c2.4,3.6,3.5,6.7,4.6,13.6c0.4,2.7,0.9,5.5,1,6.1c0.8,3.6,2.4,6.4,4.4,7.9c3.1,2.3,8.5,2.4,13.8,0.4c0.9-0.3,1.7-0.6,1.7-0.5 c0.2,0.2-2.5,2-4.3,2.9c-2.5,1.3-4.5,1.7-7.2,1.7c-4.8,0-8.9-2.5-12.2-7.5c-0.7-1-2.1-3.9-3.3-6.6c-3.5-8.1-5.3-10.5-9.4-13.2 c-3.6-2.3-8.2-2.8-11.7-1.1c-4.6,2.2-5.8,8.1-2.6,11.7c1.3,1.5,3.7,2.7,5.7,3c3.7,0.5,6.9-2.4,6.9-6.1c0-2.4-0.9-3.8-3.3-4.9 c-3.2-1.4-6.7,0.2-6.6,3.3c0,1.3,0.6,2.1,1.9,2.7c0.8,0.4,0.8,0.4,0.2,0.3c-2.9-0.6-3.6-4.2-1.3-6.5c2.8-2.8,8.7-1.6,10.7,2.3 c0.8,1.6,0.9,4.8,0.2,6.8c-1.7,4.4-6.5,6.7-11.4,5.4c-3.3-0.9-4.7-1.8-8.7-5.9c-7-7.2-9.7-8.6-19.7-10.1l-1.9-0.3L56,165.2z'/%3E%3Cpath class='st1' d='M3.4,4.3c23.3,28.3,59.2,72.3,61,74.7c1.5,2,0.9,3.9-1.6,5.3c-1.4,0.8-4.3,1.6-5.7,1.6c-1.6,0-3.5-0.8-4.8-2.1 c-0.9-0.9-4.8-6.6-13.6-20.3c-6.7-10.5-12.4-19.2-12.5-19.3C25.8,44,25.8,44,38,65.8C45.7,79.5,48.2,84.4,48.2,85c0,1.3-0.4,2-2,3.8 c-2.7,3-3.9,6.4-4.8,13.5c-1,7.9-3.7,13.5-11.4,23c-4.5,5.6-5.2,6.6-6.3,8.9c-1.4,2.8-1.8,4.4-2,8c-0.2,3.8,0.2,6.2,1.3,9.8 c1,3.2,2.1,5.3,4.8,9.4c2.3,3.6,3.7,6.3,3.7,7.3c0,0.8,0.2,0.8,3.8,0c8.6-2,15.7-5.4,19.6-9.6c2.4-2.6,3-4,3-7.6 c0-2.3-0.1-2.8-0.7-4.2c-1-2.2-2.9-4-7-6.8c-5.4-3.7-7.7-6.7-8.3-10.7c-0.5-3.4,0.1-5.7,3.1-12c3.1-6.5,3.9-9.2,4.4-15.8 c0.3-4.2,0.8-5.9,2-7.2c1.3-1.4,2.4-1.9,5.5-2.3c5.1-0.7,8.4-2,11-4.5c2.3-2.1,3.3-4.2,3.4-7.3l0.1-2.3L70.1,77C65.4,71.6,0.3,0,0,0 C-0.1,0,1.5,1.9,3.4,4.3z M34.1,146.5c1.1-1.9,0.5-4.3-1.3-5.5c-1.7-1.1-4.3-0.6-4.3,0.9c0,0.4,0.2,0.8,0.8,1c0.9,0.5,1,1,0.3,2.1 c-0.7,1.1-0.7,2.1,0.2,2.8C31.2,148.9,33.1,148.3,34.1,146.5z'/%3E%3Cpath class='st1' d='M74.6,93.9c-2.4,0.7-4.7,3.3-5.4,5.9c-0.4,1.6-0.2,4.5,0.5,5.4c1.1,1.4,2.1,1.8,4.9,1.8 c5.5,0,10.2-2.4,10.7-5.3c0.5-2.4-1.6-5.7-4.5-7.2C79.3,93.7,76.2,93.4,74.6,93.9z M81,98.9c0.8-1.2,0.5-2.5-1-3.4 c-2.7-1.7-6.8-0.3-6.8,2.3c0,1.3,2.1,2.7,4.1,2.7C78.6,100.5,80.4,99.7,81,98.9z'/%3E%3C/svg%3E");
  }
  
  a.pancakeswap {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 195 199' class='sc-bcPKhP cvmRst desktop-icon' color='text' width='500px' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M97.556 198.607c-29.192-.022-52.708-7.027-69.138-19.609-16.627-12.733-25.448-30.803-25.448-51.25 0-19.701 8.801-33.907 18.76-43.51 7.805-7.525 16.417-12.344 22.414-15.117-1.356-4.162-3.048-9.61-4.562-15.238-2.025-7.53-4.012-16.366-4.012-22.84 0-7.663 1.67-15.36 6.175-21.34C46.505 3.385 53.671 0 62.291 0c6.737 0 12.457 2.499 16.934 6.81 4.28 4.12 7.13 9.593 9.097 15.298 3.456 10.024 4.802 22.618 5.179 35.187h8.257c.378-12.569 1.723-25.163 5.18-35.187 1.967-5.705 4.815-11.177 9.096-15.298C120.512 2.5 126.231 0 132.968 0c8.621 0 15.786 3.385 20.546 9.703 4.505 5.98 6.176 13.677 6.176 21.34 0 6.474-1.988 15.31-4.013 22.84-1.514 5.628-3.206 11.076-4.562 15.238 5.997 2.773 14.61 7.592 22.414 15.118 9.959 9.602 18.76 23.808 18.76 43.509 0 20.447-8.82 38.517-25.448 51.25-16.43 12.582-39.946 19.587-69.138 19.609h-.147z' fill='%23000000'%3E%3C/path%3E%3Cpath d='M62.29 7.288c-12.625 0-18.437 9.516-18.437 22.675 0 10.46 6.753 31.408 9.523 39.563.624 1.835-.356 3.844-2.142 4.555-10.119 4.031-39.981 18.789-39.981 52.588 0 35.603 30.347 62.448 86.31 62.491l.066-.001.067.001c55.962-.043 86.309-26.888 86.309-62.491 0-33.799-29.862-48.557-39.981-52.588-1.786-.71-2.765-2.72-2.142-4.555 2.771-8.154 9.524-29.103 9.524-39.563 0-13.16-5.812-22.675-18.438-22.675-18.174 0-22.705 26.007-23.028 53.92-.021 1.863-1.513 3.375-3.357 3.375H88.676c-1.845 0-3.336-1.512-3.358-3.375-.323-27.913-4.853-53.92-23.028-53.92z' fill='%23000000'%3E%3C/path%3E%3Cpath d='M97.696 177.755c-41.118 0-86.372-22.235-86.443-51.018v.134c0 35.632 30.395 62.491 86.443 62.491s86.443-26.859 86.443-62.491v-.134c-.071 28.783-45.325 51.018-86.443 51.018z' fill='%23000000'%3E%3C/path%3E%3Cpath class='eye' d='M74.85 117.896c0 9.718-4.546 14.779-10.154 14.779s-10.154-5.061-10.154-14.779 4.546-14.779 10.154-14.779 10.154 5.061 10.154 14.779zM140.851 117.896c0 9.718-4.546 14.779-10.154 14.779s-10.154-5.061-10.154-14.779 4.546-14.779 10.154-14.779 10.154 5.061 10.154 14.779z' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E");
  }
  a.okx {
    background-image: url("data:image/svg+xml,%3Csvg xmlns:xodm='http://www.corel.com/coreldraw/odm/2003' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='500 500 1500 1500' style='enable-background:new 0 0 2500 2500;width: 200px;height: 200px;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D%0A%3C/style%3E%3Cg id='Layer_x0020_1'%3E%3Cg id='_2187289728928'%3E%3Crect y='0' class='st0' width='2500' height='2500'/%3E%3Cg%3E%3Cpath d='M1464.3,1015.3h-405.2c-17.2,0-31.3,14.1-31.3,31.3v405.2c0,17.2,14.1,31.3,31.3,31.3h405.2c17.2,0,31.3-14.1,31.3-31.3 v-405.2C1495.6,1029.4,1481.5,1015.3,1464.3,1015.3z'/%3E%3Cpath d='M996.6,549.1H591.4c-17.2,0-31.3,14.1-31.3,31.3v405.2c0,17.2,14.1,31.3,31.3,31.3h405.2c17.2,0,31.3-14.1,31.3-31.3 V580.4C1027.8,563.2,1013.8,549.1,996.6,549.1z'/%3E%3Cpath d='M1930.5,549.1h-405.2c-17.2,0-31.3,14.1-31.3,31.3v405.2c0,17.2,14.1,31.3,31.3,31.3h405.2c17.2,0,31.3-14.1,31.3-31.3 V580.4C1961.8,563.2,1947.7,549.1,1930.5,549.1z'/%3E%3Cpath d='M996.6,1481.5H591.4c-17.2,0-31.3,14.1-31.3,31.3V1918c0,17.2,14.1,31.3,31.3,31.3h405.2c17.2,0,31.3-14.1,31.3-31.3 v-405.2C1027.8,1495.6,1013.8,1481.5,996.6,1481.5z'/%3E%3Cpath d='M1930.5,1481.5h-405.2c-17.2,0-31.3,14.1-31.3,31.3V1918c0,17.2,14.1,31.3,31.3,31.3h405.2c17.2,0,31.3-14.1,31.3-31.3 v-405.2C1961.8,1495.6,1947.7,1481.5,1930.5,1481.5z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  a.bitforex {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='122' height='122' viewBox='0 0 32 32' fill='none'%3E%3Cpath d='M0 16C0 12.2801 0 10.4202 0.40889 8.89417C1.5185 4.75307 4.75307 1.5185 8.89417 0.40889C10.4202 0 12.2801 0 16 0C19.7199 0 21.5798 0 23.1058 0.40889C27.2469 1.5185 30.4815 4.75307 31.5911 8.89417C32 10.4202 32 12.2801 32 16C32 19.7199 32 21.5798 31.5911 23.1058C30.4815 27.2469 27.2469 30.4815 23.1058 31.5911C21.5798 32 19.7199 32 16 32C12.2801 32 10.4202 32 8.89417 31.5911C4.75307 30.4815 1.5185 27.2469 0.40889 23.1058C0 21.5798 0 19.7199 0 16Z' fill='%2314C393'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.4923 19.2688C19.4923 21.2835 17.8862 22.9224 15.9124 22.9224C13.9381 22.9224 12.3321 21.2835 12.3321 19.2688V15.4449H19.4923V19.2688ZM26.3791 9.14282C26.3791 10.8 25.0668 12.1263 23.4558 12.1263H22.8039V9.14282H19.4968V12.1263H12.3387V9.14282H9.03154V12.1263H8.52801C6.91503 12.1263 5.60267 10.7879 5.60267 9.14282H2.28564C2.28564 12.7621 5.02255 15.4417 8.56924 15.4417H9.03154V19.2623C9.03154 23.135 12.1208 26.2857 15.918 26.2857C19.715 26.2857 22.8039 23.135 22.8039 19.2623V15.4417H23.4972C27.0458 15.4417 29.7142 12.7736 29.7142 9.14282H26.3791Z' fill='white'/%3E%3C/svg%3E");
  }
  a.binance {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 126.61 126.61'%3E%3Cg fill='%23f3ba2f'%3E%3Cpath d='m38.73 53.2 24.59-24.58 24.6 24.6 14.3-14.31-38.9-38.91-38.9 38.9z'/%3E%3Cpath d='m0 63.31 14.3-14.31 14.31 14.31-14.31 14.3z'/%3E%3Cpath d='m38.73 73.41 24.59 24.59 24.6-24.6 14.31 14.29-38.9 38.91-38.91-38.88z'/%3E%3Cpath d='m98 63.31 14.3-14.31 14.31 14.3-14.31 14.32z'/%3E%3Cpath d='m77.83 63.3-14.51-14.52-10.73 10.73-1.24 1.23-2.54 2.54 14.51 14.5 14.51-14.47z'/%3E%3C/g%3E%3C/svg%3E");
  }
  a.secondbtc {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' clip-rule='evenodd' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' viewBox='83.5 155 112.43 90'%3E%3Cg fill-rule='nonzero'%3E%3Cpath d='m35.564 62.948h-9.416l6.38-10.248c-7.627-.325-13.726-6.689-13.726-14.323 0-7.863 6.47-14.334 14.333-14.336h14.165l-5 7.963h-9.165c-3.466.043-6.293 2.907-6.293 6.373 0 3.465 2.827 6.329 6.293 6.372h13.651z' fill='%23007dee' transform='matrix(2.31178 0 0 2.31321 40.033 99.3882)'%3E%3C/path%3E%3Cpath d='m85.045 24.041h9.415l-6.38 10.248c7.627.325 13.726 6.689 13.726 14.323 0 7.863-6.47 14.334-14.333 14.336h-14.167l5-7.963h9.172c3.466-.043 6.293-2.907 6.293-6.373 0-3.465-2.827-6.329-6.293-6.372h-13.655z' fill='%2327afff' transform='matrix(2.31178 0 0 2.31321 -39.42750216 99.3882)'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  }
  a.chart {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M21 21H7.8C6.11984 21 5.27976 21 4.63803 20.673C4.07354 20.3854 3.6146 19.9265 3.32698 19.362C3 18.7202 3 17.8802 3 16.2V3M6 15L10 11L14 15L20 9M20 9V13M20 9H16' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  }
  a.solscan {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg viewBox='85.798 30.325 141.274 132.398' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 156.109 72.787 C 169.796 72.911 180.597 83.966 180.402 97.648 C 180.209 111.331 169.052 122.121 155.423 121.819 C 141.951 121.524 131.386 110.701 131.418 97.244 C 131.456 83.571 142.465 72.662 156.109 72.787 Z' fill='%23C74AE3' style=''/%3E%3Cpath d='M 187.937 149.649 C 166.565 166.858 128.363 160.706 108.582 137.537 C 86.821 112.053 89.36 73.82 114.315 51.179 C 138.976 28.819 177.123 30.055 200.378 53.971 C 222.955 77.176 223.95 115.689 202.824 137.42 C 197.891 132.253 192.958 127.079 187.776 121.657 C 195.785 110.462 198.272 97.648 193.477 83.889 C 186.33 63.346 163.682 52.51 143.032 59.509 C 122.613 66.432 111.442 88.403 117.82 109.086 C 124.26 130 146.125 141.879 167.101 135.431 C 171.273 134.15 173.596 134.903 176.293 138.011 C 179.867 142.129 183.992 145.757 187.937 149.649 Z' fill='%2300E8B5' style=''/%3E%3C/svg%3E");
  }
  a.solana {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='108' height='96' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='url(%23b)' d='m108.53 75.69-17.72 19a4.099 4.099 0 0 1-3 1.31h-84a2.06 2.06 0 0 1-1.51-3.46l17.7-19a4.1 4.1 0 0 1 3-1.31h84a2.05 2.05 0 0 1 1.53 3.46ZM90.81 37.42a4.14 4.14 0 0 0-3-1.31h-84a2.06 2.06 0 0 0-1.51 3.46L20 58.58a4.14 4.14 0 0 0 3 1.31h84a2.06 2.06 0 0 0 1.5-3.46L90.81 37.42Zm-87-13.65h84a4.098 4.098 0 0 0 3-1.31l17.72-19a2.052 2.052 0 0 0-.387-3.14A2.05 2.05 0 0 0 107 0H23a4.1 4.1 0 0 0-3 1.31l-17.7 19a2.06 2.06 0 0 0 1.51 3.46Z'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='b' x1='10.81' x2='98.89' y1='98.29' y2='-1.01' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.08' stop-color='%239945FF'/%3E%3Cstop offset='.3' stop-color='%238752F3'/%3E%3Cstop offset='.5' stop-color='%235497D5'/%3E%3Cstop offset='.6' stop-color='%2343B4CA'/%3E%3Cstop offset='.72' stop-color='%2328E0B9'/%3E%3Cstop offset='.97' stop-color='%2319FB9B'/%3E%3C/linearGradient%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h646v96H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }
  a.cat-social {
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: 24px;
    display: inline-block;
    background-repeat: no-repeat;
  }
  
  a.cat-social:hover {
    opacity: 1;
  }
  .faq-main {
    padding: 60px 0;
  }
  
  .faq-row {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .faq-item {
    background-color: rgb(204 163 73 / 20%);
    border-radius: 20px;
    text-align: left;
    margin: 10px 0;
  }
  
  .faq-q {
    position: relative;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    padding: 20px 40px 20px 20px;
  }
  
  .faq-a {
    padding: 0px 20px 20px;
  }
  .faq-q:after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4'%3E%3Cpath d='M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z' fill='black'/%3E%3C/g%3E%3C/svg%3E");
    width: 24px;
    height: 24px;
    background-position: center;
    content: "";
    position: absolute;
    right: 15px;
    bottom: 50%;
    transform: translateY(50%);
    transition: 0.5s;
  }
  
  .faq-row p {
    max-width: 300px;
    margin: 20px auto 40px;
  }
  .faq-q.active:after {transform: translateY(50%) rotate(315deg);}
  .cta-boxs-row {
    display: grid;
    grid-template-columns: 46% 46%;
    column-gap: 8%;
  }
  
  .cta-box {
    background: linear-gradient(182deg, #00a2b7 0, #673520 100%);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 #181818;
    height: 100%;
    text-align: center;
  }
  
  .cta-count {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    padding: 15px;
    color: #000;
    font-size: 54px;
    font-weight: 300;
    margin: -100px auto 50px;
    display: flex;
    align-items: flex-end;
  }
  
  .cta-boxs-main {
    padding: 120px 0 60px;
  }
  .font-h3 {
    font-size: 24px;
    font-weight: 500;
  }
  
  .cta-box p {
    margin: 20px auto 0;
    max-width: 400px;
  }
  .what-is-cat-main {
    padding: 60px 0;
  }
  
  .what-is-cat-row {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .what-is-cat-row h2 {
    margin-bottom: 20px;
  }
  .copy-code-main {
    padding: 60px 0 120px;
  }
  
  .copy-code-row {
    text-align: center;
  }
  
  .copy-code-row p {
    margin: 20px 0 30px;
  }
  input.text-to-copy {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    margin: 5px 0 15px;
    max-width: 450px;
    text-align: center;
    border-radius: 30px;
    border: 1px solid #cca349;
    pointer-events: none;
  }
  
  .copy-text .label {
    font-size: 24px;
    font-weight: 700;
    color: #cca349;
  }
  .token-boxs-col {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 2%;
    row-gap: 30px;
    margin-top: 40px;
  }
  
  .token-box {
    padding: 50px 30px;
    background-color: rgb(204 163 73 / 20%);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    text-align: center;
    position: relative;
  }
  
  .token-icon {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .token-icon svg {
    width: 30px;
    height: 30px;
    fill: #cca349;
  }
  
  .token-boxs-main {
    padding: 60px 0;
  }
  
  .token-boxs-row .font-h1 {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .token-box:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    background-color: rgb(204 163 73 / 10%);
    border-radius: 30px;
    z-index: -1;
    top: 0;
    transition: 0.6s;
    max-width: 100%;
    max-height: 100%;
  }
  
  .token-box:hover:before {
    width: 500px;
    height: 500px;
  }
  .copy-logos {
    display: flex;
    column-gap: 15px;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .copy-logos img {
    max-width: 150px;
  }
  .copy-code-col > .cat-btn {
      margin: 10px;
  }
  .token-boxs-row p {
    text-align: center;
    max-width: 650px;
    margin: 30px auto 0;
  }
  .banner-social {
    margin-top: 20px;
  }
  
  .banner-social 
  a.cat-social {
    width: 60px;
    height: 60px;
    background-size: 45px;
  }
  .banner-col1 .font-h3 {
    margin: 20px 0;
  }
  a.trade-btn-item {
    background-position: calc(100% - 10px) 50%;
    background-size: 30px 25px;
    display: inline-block;
    background-repeat: no-repeat;
    padding: 15px 55px 15px 15px;
    border: 2px solid #cca349;
    border-radius: 30px;
    margin: 15px 5px;
    color: #cca349;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
  }
  a.trade-btn-item.bitforex {
    display: block;
    max-width: 160px;
    margin: 15px auto;
  }
  a.btn-buy {
    background-position: calc(100% - 10px) 50%;
    background-size: 33px;
    display: inline-block;
    background-repeat: no-repeat;
    padding: 20px 65px 20px 25px;
    border: 2px solid #cca349;
    border-radius: 40px;
    margin: 15px 5px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
  }
  select.goog-te-combo {
    border: 2px solid #cca349;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 20px;
  }
  a.chart-btn {
    background-position: calc(100% - 10px) 50%;
    background-size: 18px;
    display: inline-block;
    background-repeat: no-repeat;
    padding: 5px 40px 5px 5px;
    margin: 15px 5px;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
  }
  .how-to-banner-row {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
  }
  
  .how-to-banner-row p {
    margin: 20px 0;
  }
  .how-to-steps {
    display: grid;
    grid-template-columns: repeat(2 , calc(50% - 20px));
    gap: 40px;
    margin-top: 40px;
  }
  
  .how-to-step-item img {
    height: 120px;
    width: 120px;
    display: block;
    object-fit: contain;
  }
  
  .how-to-step-item h4 {
    margin: 20px 0;
  }
  
  .how-to-step-item {
    background-color: rgb(204 163 73 / 20%);
    border-radius: 30px;
    padding: 40px;
  }
  
  .how-to-steps-wrap {
    padding: 80px 0;
  }
  .copy-add-wrap {
    border-radius: 30px;
    border: 2px solid #cca349;
    background-color: #fff;
    margin: 20px auto;
    display: flex;
    max-width: 550px;
    overflow: hidden;
  }
  input#selectedValue {
  width: calc(100% - 180px);
  border: none;
  font-weight: 700;
  letter-spacing: 0.2px;
  border-left: 2px solid #cca349;
  padding: 10px;
  cursor: pointer;
  outline: none;
  text-align: left;
  }
  
  select#addressDropdown {border: none;-webkit-appearance:     none;-moz-appearance:        none;-ms-appearance:         none;-o-appearance:          none;appearance:             none;width: 160px;padding: 10px;outline: none;cursor: pointer;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M435.658 228.913L251.656 404.907C243.922 412.313 233.953 416 224 416S204.078 412.313 196.344 404.907L12.342 228.913C-3.611 213.633 -4.174 188.321 11.092 172.353C26.373 156.354 51.686 155.854 67.655 171.103L224 320.66L380.345 171.103C396.314 155.822 421.627 156.385 436.908 172.353C452.174 188.321 451.611 213.633 435.658 228.913Z' style='&%2310; fill: %23cca349;&%2310;'/%3E%3C/svg%3E");background-repeat: no-repeat;background-position: right center;background-size: 18px;font-weight: 700;font-size: 18px;margin-right: 10px;background-color: #fff;}
  .sticker-gallery a {
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 10px;
    break-inside: avoid;
    transition: 0.1s;
  }
  .sticker-gallery a:hover {
      transform: scale(1.2);
  }
  .sticker-gallery img {
    grid-row: 1 / -1;
    grid-column: 1;
  }
  .sticker-gallery {
    column-count: 5;
    column-gap: 10px;
    min-height: 80vh;
    margin: 60px 0;
  }
  .details-container {
    margin-top: 20px;
  }
  .options-container {
    margin-top: 20px;
  }
  #fullImage {
    max-width: 600px;
    max-height: 600px;
    object-fit: contain;
  }
  #imageTags span {background-color: rgb(204 163 73 / 20%);padding: 10px 20px;display: block;border-radius: 8px;}
  #imageTags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    font-weight: 700;
    border-top: 1px solid #cca349;
    border-bottom: 1px solid #cca349;
    padding: 20px 0;
    justify-content: center;
  }
  .single-sticker-main {
    min-height: 80vh;
  }
  .back-stickers svg {
    margin-right: 10px;
    margin-left: 0;
  }
  
  .back-stickers {
    margin-bottom: 30px;
  }
  .image-container {
    text-align: center;
    margin-bottom: 40px;
  }
  .options-container {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .home-sticker-gallery a img {
    width: 240px;
    height: 200px;
    margin: 0 20px;
    object-fit: contain;
  }
  .stickers-main {
    text-align: center;
    padding: 60px 0;
  }
  
  .home-sticker-gallery {
    margin: 40px 0;
  }
  .pagination-button {
    margin: 5px;
    padding: 5px;
    background-color: transparent;
    border: 1px solid #cca349;
    color: #cca349;
    font-weight: 700;
    font-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .pagination-button.active {
    background-color: #cca349;
    color: #f5eddb;
  }
  @media (max-width:768px) {
    .menu-btn span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: #000;
      margin: 6px 0;
  }
  .menu-btn {
    width: 50px;
    margin: 0 0 0 auto;
    padding: 0 10px;
  }
  /* .menu {
    display: none;
    position: absolute;
    right: 0;
    top: 70px;
    padding: 20px 20px 60px;
    width: 100%;
    background-color: #fff;
    z-index: 99;
  } */
  /* ul.navigation {
    flex-direction: column;
    row-gap: 30px;
  } */
  .font-h1 {
    font-size: 36px;
  }
  
  .font-h2 {
    font-size: 28px;
  }
  
  p {
    font-size: 16px;
  }
  .cta-boxs-row {
    grid-template-columns: 100%;
    row-gap: 100px;
  }
  
  .token-boxs-col {
    grid-template-columns: 100%;
  }
  
  .banner-wrap , .what-is-cat-main , .faq-main , .token-boxs-main , .logo-slider-main{
    padding: 30px 0;
  }
  
  .cta-boxs-main {
    padding: 60px 0 30px;
  }
  .copy-code-main {
    padding: 30px 0 60px;
  }
  .cat-btn span {
    font-size: 14px;
  }
  .header-row {
    padding: 10px 10px;
  }
  select.goog-te-combo {
    font-size: 12px;
    max-width: 120px;
  }
  .how-to-steps {
    grid-template-columns: 100%;
  }
  }
  
  @media (max-width:520px) {
    .gt-btn {
      position: absolute;
      top: 5px;
      right: 5px;
  }
  
  ul.navigation {
      justify-content: space-between;
      margin-top: 10px;
  }
  .header-row {
    grid-template-columns: 100%;
  }
  }
  a.mexc {
      background-image: url("data:image/svg+xml,%3Csvg xmlns:xodm='http://www.corel.com/coreldraw/odm/2003' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 2500 2500' style='enable-background:new 0 0 2500 2500;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D .st1%7Bfill:%233156AA;%7D .st2%7Bfill:%231972E2;%7D .st3%7Bfill:url(%23SVGID_1_);%7D%0A%3C/style%3E%3Cg id='Layer_x0020_1'%3E%3Crect y='0' class='st0' width='2500' height='2500'/%3E%3Cg id='_2500406570000'%3E%3Cpath class='st1' d='M2459.7,1566.6l-540.6-937.7c-118.5-195.5-407.5-197.5-521.9,8.3l-567.6,975.2 c-106,178.8,25,403.3,237.1,403.3H2204C2418.1,2015.7,2578.2,1784.9,2459.7,1566.6z'/%3E%3Cpath class='st2' d='M1680,1639.4l-33.3-58.2c-31.2-54.1-99.8-170.5-99.8-170.5l-457.4-794.3C971,439.7,690.3,425.1,571.8,647.6 L39.5,1568.7c-110.2,193.4,20.8,444.9,259.9,447h1131.1h482.4h286.9C1906.7,2017.8,1813.1,1866,1680,1639.4L1680,1639.4z'/%3E%3ClinearGradient id='SVGID_1_' gradientUnits='userSpaceOnUse' x1='703.637' y1='1211.6566' x2='1935.647' y2='727.2267' gradientTransform='matrix(1 0 0 -1 0 2497.8899)'%3E%3Cstop offset='0' style='stop-color:%23264CA2;stop-opacity:0'/%3E%3Cstop offset='1' style='stop-color:%23234588'/%3E%3C/linearGradient%3E%3Cpath class='st3' d='M1680.1,1639.4l-33.3-58.2c-31.2-54.1-99.8-170.5-99.8-170.5l-295.3-519.8l-424.2,723.6 c-106,178.8,25,403.4,237,403.4h363.9h482.4h289C1904.6,2015.7,1813.1,1866,1680.1,1639.4L1680.1,1639.4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  
  a.gate {
      background-image: url("data:image/svg+xml,%3Csvg xmlns:xodm='http://www.corel.com/coreldraw/odm/2003' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 2500 2500' style='enable-background:new 0 0 2500 2500;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D .st1%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%232354E6;%7D .st2%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%2317E6A1;%7D%0A%3C/style%3E%3Cg id='Layer_x0020_1'%3E%3Crect y='0' class='st0' width='2500' height='2500'/%3E%3Cg id='_2500576017504'%3E%3Cpath id='Fill-3' class='st1' d='M1250,1937.5c-379.7,0-687.5-307.8-687.5-687.5c0-379.7,307.8-687.5,687.5-687.5V0 C559.6,0,0,559.6,0,1250c0,690.3,559.6,1250,1250,1250c690.3,0,1250-559.6,1250-1250h-562.5 C1937.5,1629.7,1629.7,1937.5,1250,1937.5z'/%3E%3Cpolygon id='Fill-4' class='st2' points='1250,1250 1937.5,1250 1937.5,562.5 1250,562.5 '/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  




  