button {
    display: flex;
    font-weight: 900;
    font-size: medium;
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: aquamarine;
    background: #0d5f97;
    justify-content: space-around;
}


.dash_sidebar {
    height: 500px;
}

.rev {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.rev h2{
    color: white;
}

.revs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.revs .rev_inter {
    cursor: pointer;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    border-radius: 10px;
    box-shadow: -1px 1px 5px 0px black;
    padding: 10px;
}

.revs .rev_inter:hover{
    transform: translateY(-10px);
    transition: 1s;
}

.revs .rev_inter:after{
    transform: translateY(+10px);
    transition: 1s;
}

.rev_inter h2 {
    color: white;
    font-size: 18px;
    margin-bottom: 0px;
}

.rev_inter-icon {
    border-radius: 10px;
}

.rev_inter-icon img {
    width: 100%;
    height: auto;
}

.rev_inter p {
    font-size: 14px;
    color: #b0b0b0;
    margin: 0px;
}

.all{
    background: linear-gradient(0deg, rgb(5 10 42 / 97%) 0%, rgb(56 56 56 / 17%) 100%);
}

.Theoren{
    background: linear-gradient(0deg, rgba(28, 5, 42, 0.97) 0%, rgb(56 56 56 / 17%) 100%);
}