.homer_base {
    text-align: center;
    color: aquamarine;
}

#container {
    padding: 0 200px;
    display: flex;
    align-items: center;
}

#container .banner {
    width: 900px;
    display: flex;
    flex-direction: column;
}

#container .banner h1 {
    font-size: 40px;
    margin: 0px;
    font-weight: 600;
    color: white;
}

#container .banner p {
    font-size: 20px;
    font-weight: 500;
    color: white;
}





.container_box {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.container_box h1 {
    color: white;
    margin-bottom: 10px;
}

.features {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.feature {
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
}

.icon {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

.icon .hs_icon {
    background: #3c3c3c;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon .hs_icon p {
    font-size: 11px;
    color: white;
}

.icon .hs_icon b {
    font-style: normal;
    font-family: Nunito, sans-serif;
    font-size: 10px;
    color: rgb(187, 187, 187);
}

.icon .hs_icon_img {
    display: contents;
}


.icon .hs_icon_img img {
    width: 30px;
    height: 30px;
}

.text h2 {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

.text p {
    font-size: 14px;
    color: #b0b0b0;
}




.pay {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.pay h1, p{
    color: white;
}

.partners {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.partners .partner {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.partner h2 {
    color: white;
    font-size: 18px;
    margin-bottom: 0px;
}


.partner-icon {
    border-radius: 10px;
    padding: 10px;
}

.partner-icon img {
    width: 100%;
    height: auto;
}

.partner p {
    font-size: 14px;
    color: #b0b0b0;
    margin: 0px;
}

.telegram {
    background: #ffffff;
}

.X_twitter {
    background:white;
}

.amazon {
    background-color: #2b3747;
}

.googleplay {
    background: linear-gradient(320deg, rgb(36, 36, 39) 0%, rgb(60, 61, 71) 100%);
}

.text-box {
    margin-left: 44vw;
   margin-top: 42vh;
}

.btn:link,
.btn:visited {
    text-decoration: none;
    padding: 10px 40px;
    display: inline-block;
    border-radius: 10px;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #ff6200;
    color: #ffffff;
}

.btn::after {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}





.ask {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.ask h1{
    color: white;
}

.faq-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faq {
    background-color: white;
    border-radius: 10px;
    padding: 15px 20px;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer {
    display: none;
    margin-top: 10px;
    color: #b0b0b0;
    font-size: 14px;
}

.contact {
    display: flex
;
    margin-top: 40px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.contact img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.contact button {
    background-color: #ff6600;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
}
